.bannerWrapper
  background-image: linear-gradient(90deg, #8f4aea, #5624d0)
  width: 100vw
  padding: 30px 7%
  box-sizing: border-box
  color: white

.topBanner
  display: flex
  margin-inline: auto
  max-width: 1440px

.leftWrapper
  display: flex
  width: 100%

  @media screen and (max-width: 768px)
    flex-wrap: wrap
    
  

.left
  aspect-ratio: 2
  background: rgba(0, 0, 0, .25)
  border-radius: 12px
  height: 100%
  max-width: 28%

  @media screen and (max-width: 768px)
    height: 40%
    max-width: 40%
    width: 40%
    aspect-ratio: auto

img
  border-radius: 12px
  height: 100%
  object-fit: fill
  width: 100%

  @media screen and (max-width: 768px)
    border: 0
  

.middle
  display: flex
  flex-direction: column
  justify-content: space-between
  padding-left: 4%
  width: 100%

  @media screen and (max-width: 768px)
    width: 53%
    font-weight: 300

  .row
    font-size: 1.2rem

    @media screen and (max-width: 768px)
      font-size: .8rem

  .name-wrapper
    display: flex
    font-weight: 600
    text-transform: capitalize
    width: 100%

.progress-wrapper
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: space-between
  min-width: fit-content
  width: 15%

.top-container
  align-items: center
  display: flex
  justify-content: space-around

.like-icon-wrapper
  cursor: pointer
  display: flex
  height: 3.6rem
  width: 36px
  height: 100%
  margin-left: 0
  width: 100%

.FavouriteButton
  cursor: pointer
  display: flex
  justify-content: center
  margin-left: 28px

.ProgressIndicator
  height: 5rem
  position: relative
  width: 50px

  .inner
    border-radius: 100%
    height: 4rem
    left: 50%
    margin: -20px 0 0 -20px
    position: absolute
    top: 50%
    width: 40px
    z-index: 6

  .number
    font-size: 1.4rem
    font-weight: 500
    left: 50%
    position: absolute
    top: 50%
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    z-index: 10

.like-button
  height: 45px
  padding-right: 15px
  @media screen and (max-width: 768px)
    padding-top: 10px
    // margin-right: 50vw

.circle
  ::ng-deep .progress
    width: 45px !important
    height: 45px !important

  ::ng-deep #progress-value
    font-size: 14px !important
.name
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

  @media screen and (max-width: 768px)
    font-size: 1.1rem
    font-weight: 300
.buttons
  @media screen and (max-width: 768px)
    width: 100%