<div class="bannerWrapper">
  <div class="topBanner">
    <div class="leftWrapper">
      <div class="left">
        <img [src]="CourseDetails.imageUrl" alt="" srcset="" />
      </div>
      <div class="middle">
        <div class="row name-wrapper">
          <div class="name">{{ CourseDetails.name }}</div>
        </div>
        <div class="row author-details">
          By {{ CourseDetails.createdBy.name
          }}<span class="created-at">
            {{ CourseDetails.createdAt | date : "dd MMM yyyy" }}</span>
        </div>
        <div class="row level">Level : {{ CourseDetails.level }}</div>
        <div class="row meta-data">
          <span class="chapters">{{ CourseDetails.noOfChapters }} Chapters</span>
        </div>
        <div class="row last-updated">
          Last Updated - {{ CourseDetails.updatedAt | date : "dd MMM yyyy" }}
        </div>
      </div>
      <div class="buttons">
        <button id="btn1" class="btn" style="
            display: flex;
            background: transparent;
            border: none;
            outline: none;
            font-size: 35px;
          ">

          <img class="like-button" (click)="toggleColor()"
            [src]="isRed ? 'assets/dark/Unlike.svg' : 'assets/dark/MyFavourites.svg'" />


          <app-circular-progress-bar class="circle" [progress]="CourseDetails.progress"></app-circular-progress-bar>
        </button>
      </div>
    </div>
  </div>
</div>