<!-- <div class="card-wrapper">
  <div class="card">
    <div class="content-div">
      <div class="image">
        <img src="assets/tnsBackground.png" alt="" />
      </div>
      <div class="author">Created By: Parth Nautiyal</div>
    </div>
  </div>
  <div class="card-description">
    <div class="card-title">{{ course.courseName }}</div>
    <div class="card-des">
      {{ course.description }}
    </div>
    <div class="card-create-date">
      Date Of Creation: {{ course.createdAt | date : "dd MM yyyy" }}
    </div>
  </div>
</div> -->

<div class="pagination-wrapper">
  <div class="course-list-wrapper">
    <div>
      <div class="admin-course-card">
        <div class="left-wrapper">
          <div class="left">
            <div class="course-img">
              <a class="card-link" href="/course/290"
                ><img
                  src="https://storage.googleapis.com/zopsmart-media/5282/images/originals/20240331/d194b7d3-8547-48ae-a567-a2c3f4bdf994-tnsBackground.webp"
                  id="redirect-link"
                  alt="Course Pic"
                  referrerpolicy="no-referrer"
              /></a>
            </div>
            <span class="created-by">Created By : Parth Nautiyal</span>
          </div>
          <div class="middle-wrapper">
            <a class="course-name" href="/course/290">Angular Test</a>
            <div class="course-desc">
              Create course test.Create course test.Create course test.
            </div>
            <div class="date-of-creation">Date Of Creation: 31 Mar 2024</div>
          </div>
        </div>
        <div class="right">
          <div class="right-top">
            <div>Published :</div>
            <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
          </div>
          <div class="right-bottom">
            <button class="remove-button">Remove</button
            ><a class="update-button-wrapper" href="/course/290/update/1"
              ><button class="update-button">Update</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
