.navbar
    background-color: #FFFFFF
    margin: 0
    padding: 5px
    height: 8vh
    display: flex
    justify-content: space-between

.header-links
    display: flex
    align-items: center
    justify-content: space-around
    gap:10px

button
    background-color: #F3F5F9
    border-radius: 7px
    border: none
    height:45px
    width: 45px

.skill-up-logo
    height: 6vh
    padding: 5px 0 0 5px

.profile-image
    height: 6vh
    border-radius: 10px

.search-bar
    position: relative

.search-box
    width: 40vw
    border-radius:10px
    border: none
    background-color: #F3F5F9
    height:45px

.search-icon
    position: absolute
    top:12px
    right:10px

select
    border: none
    height:45px
    border-radius: 10px