footer
    width: 100vw
    display: flex
    flex-direction: column
    height: 134px
    align-items: center
    justify-content: center
    background-color: #FFFFFF

footer
    .links
        text-decoration: none
        display: flex
        align-items: center
        gap: 30px
        font-size: 25px
        font-family: monospace,sans-serif
        letter-spacing: -2px
        
img
    height: 50px

.rights
    text-align: center
    width: 100vw
    padding-bottom: 10px
        
