<div class="trainer-card-wrapper">
        <div class="trainer-image-wrapper">
            <img
                src="https://lh3.googleusercontent.com/a/ACg8ocLbkJ3Gp4diIhr6sRRRrPpyNtVEgsUV-zpDHbDWxRbh=s96-c" alt="">
            </div>
        <div class="trainer-details-wrapper">
            <div class="trainer-name-edit-icon"><a class="trainer-name disable-link" href="/batch/18">Prakhyat Saini</a>
            </div>
            <div class="trainer-email">prakhyat.saini@zopsmart.com</div>
        </div>
</div>