<div class="contentWrapper">
  <div *ngIf="!quizFlag" style="margin-left: 24px" class="contents_row">
    Content
  </div>
  <div *ngIf="quizFlag" style="margin-left: 24px" class="contents_row">
    Quiz
  </div>
</div>
<ng-container *ngFor="let chapters of allChapters; index as i">
  <div class="contentWrapper">
    <div class="leftBar">
      <div class="icon">
        <ng-container *ngIf="!quizFlag">
          <img src="assets/document.svg" />
        </ng-container>
        <ng-container *ngIf="quizFlag">
          <ng-container *ngIf="chapters.status === 'PASS'">
            <img src="assets/Completed.svg" />
          </ng-container>
          <ng-container *ngIf="chapters.status === 'FAIL'">
            <img style="width: 70%; height: 70%" src="assets/cross-mark.svg" />
          </ng-container>
        </ng-container>
      </div>
      <ng-container *ngIf="!quizFlag">
        <div class="contents row" (click)="openPopup(i)">
          {{ chapters.resourceName }}
        </div>
      </ng-container>
      <ng-container *ngIf="quizFlag">
        <div class="contents row">
          {{ chapters.name }}
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="!quizFlag">
      <div (click)="markBtn(i)" class="rightBar">
        <ng-container *ngIf="chapters.isVisited">
          <div *ngIf="!chapters.isCompleted" class="completeBtn">
            Mark as Completed
          </div>
          <div *ngIf="chapters.isCompleted" class="completeBtn">
            <img src="assets/Completed.svg" />Completed
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="quizFlag">
      <div class="rightBar">
        <ng-container *ngIf="chapters.status === 'NOT_ATTEMPTED'">
          <button>Not Attempted</button>
        </ng-container>
        <ng-container *ngIf="chapters.status === 'PASS'">
          <button>Pass</button>
        </ng-container>
        <ng-container *ngIf="chapters.status === 'FAIL'">
          <button>FAIL</button>
        </ng-container>
        <button>Leaderboard</button>
      </div>
    </ng-container>
  </div>

  <!-- popup.component.html -->
  <div *ngIf="close" class="popup-container">
    <div class="blur-background"></div>
    <div class="popup-content">
      <span class="close-button" (click)="closeButton()">
        <img style="width: 70%; height: 70%" src="assets/cross-mark.svg" />
      </span>
      <button (click)="openInNewTab()">
        <img src="assets/light/openInNewTab.svg" />
      </button>
      <iframe
        [src]="chapterUrl"
        frameborder="0"
        width="100%"
        height="100%"
      ></iframe>
    </div>
  </div>
</ng-container>
