<div class="contentWrapper">
  <div class="contents_row">Content</div>
</div>
<ng-container *ngFor="let chapters of allChapters; index as i">
  <div class="contentWrapper">
    <div class="leftBar">
      <div class="icon">
        <img src="assets/Chapter.svg" />
      </div>
      <div class="contents row" (click)="openPopup(i)">
        {{ chapters.resourceName }}
      </div>
    </div>
    <div (click)="markBtn(i)" class="rightBar">
      <ng-container *ngIf="chapters.isVisited">
        <div *ngIf="!chapters.isCompleted" class="completeBtn">
          Mark as Completed
        </div>
        <div *ngIf="chapters.isCompleted" class="completeBtn">
          <img src="assets/Completed.svg" />Completed
        </div>
      </ng-container>
    </div>
  </div>

  <!-- popup.component.html -->
  <div *ngIf="close" class="popup-container">
    <div class="blur-background"></div>
    <div class="popup-content">
      <span class="close-button" (click)="closeButton()">
        <img src="src/assets/cross-mark.svg" />
      </span>
      <button (click)="openInNewTab()">
        <img src="assets/light/openInNewTab.svg">
      </button>
      <iframe
        [src]="chapterUrl"
        frameborder="0"
        width="100%"
        height="100%"
      ></iframe>
    </div>
  </div>
</ng-container>
