.contentWrapper
  color: var(--primary-font-color)
  display: flex
  height: 4rem
  align-items: center
  justify-content: space-between
  background-color: var(--page-content-background-color)
  font-size: 1.2rem
  border-bottom: 1px solid #f2f2f2

  @media screen and (max-width: 768px)
    font-size: .9rem !important

  .icon
    padding-top: 8px
    padding-left: 24px

  .row
    padding: 0 0 0 24px

.leftBar
  display: flex
  cursor: pointer

.completeBtn
  padding-right: 1rem
  cursor: pointer

/* popup.component.scss */
.popup-container
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  z-index: 1000

.blur-background
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.5) /* Adjust opacity as needed */
  backdrop-filter: blur(5px) /* Apply blur effect */

.popup-content
  position: relative
  background-color: #F9F5FF
  padding: 20px
  border-radius: 10px
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2)

  button
    position: absolute
    top: 8px
    right: 50px
    cursor: pointer

.close-button
  position: absolute
  font-size: 1.5rem
  top: 5px
  right: 10px
  cursor: pointer
  margin-left: 10px

iframe
  width: 88vw
  height: 85vh
  background-color: white

.rightBar
  margin-right: 24px
  display: flex
  justify-content: space-between
  gap: 100px

  button
    border: 1px solid #5624d0
    background-color: white
    cursor: pointer
    width: 200px
    font-weight: 300
    height: 2.2rem
    font-size: 1rem
    border-radius: 6px
    color: #5624d0
