<div class="path-details">
    <div class="path-info">

        <div class="path-info-overview">
            <img class="path-image" [src]="courseData.imageUrl">
            <div class="path-details-wrapper">

                <div class="main-heading"> SDET(Software Development Engineer in Test) Fundamentals</div>
                <div class="count">6 courses</div>
                <div>Date of Creation : 23 May 2023</div>
                <div>Created By : Varun K</div>
            </div>
        </div>
        <div class="path-about">
            <div class="sub-heading">About</div>
            <div>
                <div class="course-description-line">
                    {{courseData.about}}
                </div>
            </div>
        </div>
    </div>

</div>