<div class="content">
    <div class="path-page-content">
        <div class="path-courses">
            <div class="sub-heading">
                Courses
                <div class="courses-list">
                    <div class="course-box">
                        <div class="course-card">
                            <img class="course-image" src="./assets/testing.png">
                            <div class="course-details">
                                <div class="course-heading">
                                    Software Testing Basics
                                </div>
                                <div class="course-author">
                                    By Varun K | 23 May 2023
                                </div>

                                <div class="course-content">
                                    This path covers manual testing types, test case scenarios, design, and thinking
                                    like a tester.<br>
                                    Prerequistes: 1. Should have the basic knowledge of SDLC.<br> Course
                                    Link: https://training.zopsmart.com/path/13
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>