<div class="dashboard-header">
  <div class="greeting-box">
    <span>Hello Baneet !</span>
    <p>It's good to see you here</p>
  </div>
  <div class="enrolled-path">
    <span>9</span>
    Enrolled Paths
  </div>
  <div class="enrolled-courses"><span>69</span> Enrolled Courses</div>
  <div class="recent-course">
    <div class="recent-course-text">
      <span>Testing the application</span>
      <h5>By Prashant Kokila Ben</h5>
    </div>

    <i class="fa-solid fa-play play-button"></i>
  </div>
</div>
