
.dashboard-header
    display: flex
    justify-content: space-between
    height: 120px
    width: 88vw
    box-sizing: border-box

    

.greeting-box
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: white
    height: 100%
    width: 20vw
    border-radius: 10px
    box-sizing: border-box
    

.enrolled-path
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center
    background-color: white
    border-radius: 10px
    height: 100%
    width: 10vw
    box-sizing: border-box
 
.enrolled-courses
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    justify-content: space-evenly
    background-color: white
    border-radius: 10px
    height: 100%
    width: 10vw
    box-sizing: border-box

.recent-course
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    justify-content: center
    border-radius: 10px
    background-color: white
    height: 100%
    width: 30vw
    box-sizing: border-box

.recent-course-text
    display: flex
    flex-direction: column
    box-sizing: border-box
span
    font-size: 1.6rem
    margin-bottom: 10px
    box-sizing: border-box

.play-button
    position: absolute
    top: 80%
    font-size: 22px
    color: white
    background-color: #5624D0
    padding: 10px 14px 10px 14px
    border-radius: 7px
    box-sizing: border-box
