.path-content-wrapper
    display: flex
    flex-direction: column
    width: 84vw
    gap: 30px
    background-color: var(--page-content-background-color)
    padding: 20px
    padding-bottom: 80px
    border-radius: 10px
    align-items: center

.name
    font-size: 1.6rem
    font-weight: 300
    text-align: left
    width: 77vw
