.path-title
  display: flex
  flex-direction: column
  min-height:160px
  width: 100vw
  background-color: #5624D0
  // align-items: center

  @media screen and (max-width: 768px)
    height: 70px

p
  color: white
  font-size: 32px
  font-family: "Poppins",sans-serif
  font-weight: 500
  padding: 2rem 0 0 8rem

  @media screen and (max-width: 768px)
    padding-left: 25px
    font-size: 20px
    font-weight: 400

.dropdown
  padding-left: 8rem
  width:100px