<div class="path-details-top-wrapper">
  <div class="not-published-banner" *ngIf="pathCardInfo.isAccessible">
    <div class="bottom-message">Not Published</div>
  </div>
  <div class="path-details-top">
    <div class="path-details-top-left-section">
      <div class="path-details-top-left">
        <img src="https://storage.googleapis.com/zopsmart-media/5282/images/originals/20240401/b9d4df74-02d2-4f4b-9291-ec4275718673-Javascript.webp" id="redirect-link" alt="Course Pic" referrerpolicy="no-referrer">
      </div>
      <div class="path-details-top-middle">
        <p class="path-title">{{pathCardInfo.pathName}}</p>
        <span class="path-created-at">
          Date of Creation: {{pathCardInfo.createdAt|date}}
        </span>
        <span class="path-created-at">Last updated: {{pathCardInfo.updatedAt|date}}</span>
      </div>
    </div>
    <div class="path-details-top-right-section">
      <div class="control-buttons-holder three-buttons">
        <div class="update-holder">
          <a class="control-button update-button">Update</a>
        </div>
        <div class="remove-and-toggle-holder two-buttons">
          <div class="remove-holder">
            <button class="control-button remove-button">Remove</button>
          </div>
          <div class="toggler-holder">
            <span class="unpublished" *ngIf="pathCardInfo.isAccessible">Published</span>
            <span class="unpublished" *ngIf="!pathCardInfo.isAccessible">Unpublished</span>
            <div class="toggle-button">
              <p-inputSwitch [(ngModel)]="checked" (click)="publishPath()"></p-inputSwitch>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
