<div class="dashboard-header">
  <div class="greeting-box">
    <span>Hello Zopsmart !</span>
    <p>It's good to see you here</p>
  </div>
  <div class="enrolled-path">
    <span *ngIf="noOfEnrolledPaths"> {{noOfEnrolledPaths.data}} </span>
    Enrolled Paths
  </div>
  <div class="enrolled-courses"><span *ngIf="noOfEnrolledCourses"> {{noOfEnrolledCourses.data}} </span> Enrolled Courses</div>
  <div class="recent-course">
    <div class="recent-course-text">
      <span>Testing the application</span>
      <p>By Prashant Kokila Ben</p>
    </div>

    <i class="fa-solid fa-play play-button"></i>
  </div>
</div>