<div class="dashboard-header">
  <div class="greeting-box">
    <span>Hello Zopsmart !</span>
    <p>It's good to see you here</p>
  </div>
  <a [routerLink]="['/', 'paths', 'ongoing']">
    <div class="enrolled-path">
      <span>9</span>
      Enrolled Paths
    </div>
  </a>
  <a [routerLink]="['/', 'courses', 'ongoing']">
    <div class="enrolled-courses"><span>69</span> Enrolled Courses</div>
  </a>
  <div class="recent-course">
    <div class="recent-course-text">
      <span>Testing the application</span>
      <p>By Prashant Kokila Ben</p>

    </div>
    <div>
      <app-circular-progress-bar class="circle" [progress]="progress"></app-circular-progress-bar>
    </div>

    <i class="fa-solid fa-play play-button"></i>
  </div>
</div>