<!-- <img class="skill-up-logo" src="../assets/SkillUp Logo.png" />
<div class="background">
  <img src="./assets/tnsBackground.png" />
  <div class="login-container">
    <span>Welcome to SkillUp</span>
    <button class="sign-in" (click)="handelButtonClick()">
      <i class="fa-brands fa-google"></i>
      Sign in with Google
    </button>
  </div>
</div> -->
<div class="login">
  <div class="login-left">
    <h2 class="heading">SkillUp</h2>
    <img class="skillup-background" src="./assets/tnsBackground.png" />
  </div>
  <div class="login-right">
    <div class="login-box">
      <h1 class="welcome">Welcome to SkillUp</h1>
      <button class="signIn">
        <i class="fa-brands fa-google"></i> Sign in to Google
      </button>
    </div>
  </div>
</div>
