.progress {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  float: left;
  margin-top: 3px;
  margin-right: 10px;
}

#progress-value {
  display: block;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: var(--page-content-background-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 400;
  font-size: 1em;
  color: var(--primary-font-color);
}

