<div class="course-reviews">
  <p>Review</p>
  <div class="rating-container">
    <div class="average-rating-container">
      <div class="rating" style="font-size: 2rem">
        {{ rating.averageRating }}
      </div>
      <div class="average-rating-star-container">
        <div class="stars-container">
          <ng-container *ngFor="let item of avgRatingArray">
            <img *ngIf="item" src="assets/star-filled.svg" />
            <div
              *ngIf="!item"
              class="hidden-star"
              style="width: 10px; overflow: hidden"
            >
              <img src="assets/star-filled.svg" style="margin-top: 8px" />
            </div>
          </ng-container>
        </div>
      </div>
      <div class="sub-text">Rating</div>
    </div>
    <div class="ratings">
      <ng-container *ngFor="let star of [5, 4, 3, 2, 1]; let k = index">
        <div class="rating">
          <div class="progress-bar">
            <div
              class="progress-lines"
              [style.width]="ratingPercentage[k] + '%'"
            ></div>
          </div>
          <div class="percent-rating">
            <div class="stars-container stars-container-info">
              <img
                *ngFor="let j of [].constructor(star)"
                src="assets/star-filled.svg"
              />
            </div>
            <div class="percentage-info">{{ ratingPercentage[k] }}%</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="rating-review">
    <div class="rating-review-left">
      <span
        (click)="handleMyReviewButton()"
        [ngClass]="{ active: isMyReviewOn }"
        style="margin-right: 15px; cursor: pointer"
        >My Review</span
      >
      <span
        *ngIf="isAllReviewOn"
        [ngClass]="{ active: isReviewCommentOn }"
        (click)="handleReviewCommentButton()"
        style="cursor: pointer"
        >All Reviews</span
      >
    </div>
    <div class="rating-review-right">
      <button (click)="handleReviewButton()" class="add-feedback-button">
        Add Review
      </button>
    </div>
  </div>
  <div *ngIf="isReviewOn" class="add-review-and-rating-container">
    <div class="info-heading">Ratings<span class="required">*</span></div>
    <div class="stars">
      <div>
        <ng-container *ngFor="let i of [].constructor(6); let index = index">
          <img
            *ngIf="index < ratingClicked"
            (click)="handleReviewStarClick(index)"
            src="assets/star-filled.svg"
          />
          <img
            *ngIf="index > ratingClicked"
            (click)="handleReviewStarClick(index)"
            src="assets/star-empty.svg"
          />
        </ng-container>
      </div>
    </div>
    <div class="info-heading">Comments</div>
    <div class="review-container">
      <textarea
        name="feedback"
        class="add-feedback"
        id="add-feedback"
        rows="10"
        placeholder="Share your feedback...."
        spellcheck="false"
      ></textarea>
    </div>
    <div class="buttons">
      <button
        (click)="handleCancelReviewButton()"
        class="cancel-button"
        id="cancel"
      >
        Cancel</button
      ><button type="submit" class="update-button" id="submit">Submit</button>
    </div>
  </div>

  <div *ngIf="isReviewCommentOn" class="review-component-container">
    <ng-container *ngFor="let item of courseReview">
      <div class="review">
        <img [src]="item.postedBy.imageUrl" class="posted-by-img" />
        <div class="review-detail">
          <div class="posted-by-name">{{ item.postedBy.name }}</div>
          <div class="rating-time-container">
            <div class="stars-container">
              <ng-container *ngFor="let st of [].constructor(item.rating)">
                <img
                  src="assets/star-filled.svg"
                  style="width: 13px; margin-top: -4px"
                />
              </ng-container>
            </div>
            <span class="time-ago">
              {{ item.postedAt | date : "dd MM yyyy" }}
            </span>
          </div>
          <div class="review-content">
            {{ item.feedback }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
