<div class="course-reviews">
  <p>Review</p>
  <div class="rating-container">
    <div class="average-rating-container">
      <div class="rating" style="font-size: 2rem">2.5</div>
      <div class="average-rating-star-container">
        <div class="stars-container">
          <ng-container *ngFor="let item of avgRatingArray">
            <mat-icon *ngIf="item" svgIcon="star"></mat-icon>
            <div
              *ngIf="!item"
              class="hidden-star"
              style="width: 10px; overflow: hidden"
            >
              <mat-icon svgIcon="star"></mat-icon>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="sub-text">Rating</div>
    </div>
    <div class="ratings">
      <ng-container *ngFor="let star of [5, 4, 3, 2, 1]; let k = index">
        <div class="rating">
          <div class="progress-bar">
            <div
              class="progress"
              [style.width]="ratingPercentage[k] + '%'"
            ></div>
          </div>
          <div class="percent-rating">
            <div class="stars-container stars-container-info">
              <mat-icon
                *ngFor="let j of [].constructor(star)"
                svgIcon="star"
              ></mat-icon>
            </div>
            <div class="percentage-info">{{ ratingPercentage[k] }}%</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="rating-review">
    <div class="rating-review-left">
      <span
        (click)="handleMyReviewButton()"
        [ngClass]="{ active: isReviewOn }"
        style="margin-right: 15px"
        >My Review</span
      >
      <span
        [ngClass]="{ active: isReviewCommentOn }"
        (click)="handleReviewCommentButton()"
        >All Reviews</span
      >
    </div>
    <div class="rating-review-right">
      <button (click)="handleReviewButton()" class="add-feedback-button">
        Add Review
      </button>
    </div>
  </div>
  <div *ngIf="isReviewOn" class="add-review-and-rating-container">
    <div class="info-heading">Ratings<span class="required">*</span></div>
    <div class="stars">
      <div>
        <ng-container *ngFor="let i of [].constructor(5); let index">
          <mat-icon svgIcon="review-star"></mat-icon>
        </ng-container>
      </div>
    </div>
    <div class="info-heading">Comments</div>
    <div class="review-container">
      <textarea
        name="feedback"
        class="add-feedback"
        id="add-feedback"
        rows="10"
        placeholder="Share your feedback...."
        spellcheck="false"
      ></textarea>
    </div>
    <div class="buttons">
      <button (click)="handleReviewButton()" class="cancel-button" id="cancel">
        Cancel</button
      ><button type="submit" class="update-button" id="submit">Submit</button>
    </div>
  </div>

  <div *ngIf="isReviewCommentOn" class="review-component-container">
    <div class="review">
      <img
        src="https://lh3.googleusercontent.com/a/AAcHTtevWj3vfYohx1De1scm-Rc-FvxqN6zrhLPxYUIxduoc5A=s96-c"
        class="posted-by-img"
      />
      <div class="review-detail">
        <div class="posted-by-name">Zubair Ahmed</div>
        <div class="rating-time-container">
          <div class="stars-container">
            <mat-icon
              svgIcon="star"
              style="width: 13px; margin-top: -4px"
            ></mat-icon>
          </div>
          <span class="time-ago">16 Jul 2023</span>
        </div>
        <div class="review-content">
          The maximum time to complete the quiz is 60 mins. Then why it is
          getting stop before it. It stopped and evaluated the attempt questions
          and given the result. Very disappointing.
        </div>
      </div>
    </div>
    <div class="review">
      <img
        src="https://lh3.googleusercontent.com/a/AAcHTtevWj3vfYohx1De1scm-Rc-FvxqN6zrhLPxYUIxduoc5A=s96-c"
        class="posted-by-img"
      />
      <div class="review-detail">
        <div class="posted-by-name">Zubair Ahmed</div>
        <div class="rating-time-container">
          <div class="stars-container">
            <mat-icon
              svgIcon="star"
              style="width: 13px; margin-top: -4px"
            ></mat-icon>
          </div>
          <span class="time-ago">16 Jul 2023</span>
        </div>
        <div class="review-content">
          The maximum time to complete the quiz is 60 mins. Then why it is
          getting stop before it. It stopped and evaluated the attempt questions
          and given the result. Very disappointing.
        </div>
      </div>
    </div>
  </div>
</div>
