.course-reviews {
  width: 88vw;
}

.course-reviews p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: left;
}

.rating-container {
  grid-gap: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 120px 1fr;
}

.rating-container .average-rating-container .average-rating-star-container {
  display: flex;
}

.stars-container {
  display: flex;
  justify-content: space-evenly;
}

.mat-icon {
  width: 19px;
}

.stars-container-info .mat-icon {
  width: 18px;
  margin-right: 3px;
}

.sub-text {
  opacity: 0.5;
  font-size: 14px;
  position: relative;
  top: -10px;
}

.progress-bar {
  background-color: white;
  border-radius: 6px;
  width: calc(100% - 200px);
}

.progress {
  background: #ffc850;
  border-radius: 6px;
  height: 11px;
}

.ratings {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.percent-rating {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.percentage-info {
  font-size: 13px;
  margin-top: 3px;
}

.rating-review-left span {
  font-size: 17px;
  opacity: 0.5;
}

.rating-review {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.rating-review-left span.active {
  opacity: 1;
  border-bottom: 4px solid #5624d0;
}

.add-feedback-button {
  border: 1px solid #5624d0;
  background-color: white;
  cursor: pointer;
  width: 200px;
  font-weight: 300;
  height: 2.2rem;
  font-size: 1rem;
  border-radius: 6px;
  color: #5624d0;
}

.add-review-and-rating-container {
  margin-top: 30px;
}

.add-review-and-rating-container .info-heading {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 300;
}

.add-review-and-rating-container .review-container {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1.2rem;
  padding: 1.6rem;
}

.add-review-and-rating-container .review-container .add-feedback {
  background-color: inherit;
  border: none;
  resize: none;
  font-size: 15px;
  width: 100%;
  outline: none;
}

.add-review-and-rating-container .stars {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 1.8rem;
}

.add-review-and-rating-container .buttons {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.add-review-and-rating-container .buttons button {
  border: 1px solid #5624d0;
  background-color: #5624d0;
  cursor: pointer;
  width: 200px;
  font-weight: 300;
  height: 2.2rem;
  font-size: 1rem;
  border-radius: 6px;
  color: white;
}

.add-review-and-rating-container .buttons #cancel {
  background-color: #f8f5ff;
  border: 1px solid #f75a5b;
  color: #f75a5b;
}
