<div class="card">
  <!-- <a [routerLink]="['/', RouterLinks.COURSES, singleCourse.id]"> -->

  <img
    [routerLink]="['/', RouterLinks.COURSES, singleCourse.id]"
    [src]="singleCourse.imageUrl"
    alt=""
    class="image"
  />
  <!-- </a> -->

  <div class="content-div">
    <div class="header">
      <div class="course-name">{{ singleCourse.name }}</div>
    </div>
    <div class="footer">
      <div class="course-date">
        Created: {{ singleCourse.createdAt | date }}
      </div>
      <div class="course-date">
        Last Updated: {{ singleCourse.updatedAt | date }}
      </div>
    </div>
  </div>
</div>
