<div class="card">
  <!-- <a [routerLink]="['/', RouterLinks.COURSES, singleCourse.id]"> -->

  <img
    [routerLink]="['/', RouterLinks.COURSES, singleCourse.id]"
    src="assets/document.svg"
    alt=""
    class="image"
  />
  <!-- </a> -->

  <div class="content-div">
    <div class="header">
      <div class="course-name">Angular</div>
    </div>
    <div class="footer">
      <div class="course-date">Created: 2022/10/22</div>
      <div class="course-date">Last Updated: 5 days ago</div>
    </div>
  </div>
</div>
