<div class="all-section-container">
  <div class="content-container">
    <div class="page-header">
      {{ prefix | titlecase }} {{ heading | titlecase }}
    </div>
    <!-- <ng-container *ngIf="loading">
      <app-loading-card class="loading"></app-loading-card
    ></ng-container> -->
    <div class="paths-box">
      <ng-container *ngIf="heading == Title.PATHS">
        <div *ngFor="let item of allPathsData" class="paths-card-wrapper">
          <app-path-card [singlePath]="item"></app-path-card>
        </div>
      </ng-container>

      <ng-container *ngIf="heading == Title.COURSES">
        <div *ngFor="let item of allCoursesData" class="paths-card-wrapper">
          <app-course-card [singleCourse]="item"></app-course-card>
        </div>
      </ng-container>

      <ng-container *ngIf="heading == Title.BATCHES">
        <div *ngFor="let item of allBatchesData;let i = index" class="paths-card-wrapper">
          <app-batch-card [batchData]="item" [index]="i"></app-batch-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>