.container
  display: flex
  flex-direction: column
  gap: 10px
  justify-content: center
  align-items: center
  height: 100%
  width: 82vw
  box-sizing: border-box
  background-color: grey
  border-radius: 10px
  padding: 3% 0
  background-color: var(--page-content-background-color)
h2,p
  color: red
button
  border: 1px solid #5624d0
  background-color: #5624d0
  cursor: pointer
  width: fit-content
  height: 2.2rem
  font-size: 1rem
  padding: 0 1%
  border-radius: 6px
  color: white

button:hover
  background-color: #af9ed5
  color: black
