.container
  display: flex
  flex-direction: column
  gap: 10px
  justify-content: center
  align-items: center
  height: 120px
  width: 88vw
  box-sizing: border-box
  background-color: grey
  border-radius: 10px

button
  border: 1px solid #5624d0
  background-color: #5624d0
  cursor: pointer
  width: 200px
  font-weight: 300
  height: 2.2rem
  font-size: 1rem
  border-radius: 6px
  color: white

button:hover
  background-color: #af9ed5
  color: black
