<div class="card-wrapper">
  <div class="card">
    <img [src]="course.imageUrl" alt="" class="image" />
    <div class="content-div">
      <div class="author">By {{ course.createdBy.name }}</div>
    </div>
  </div>
  <div class="card-description">
    <div class="card-title">{{ course.courseName }}</div>
    <div class="card-des">
      {{ course.description }}
    </div>
    <div class="card-create-date">
      Date Of Creation: {{ course.createdAt | date : "dd MM yyyy" }}
    </div>
  </div>
</div>
