<div class="additionalResourceContainer">
  <button (click)="handleResourceButton()" type="button" class="add-button">
    <div class="button-text">Add Content</div>
    <div class="button-style"><img src="assets/plus-sign.svg" /></div>
  </button>
  <div class="formInput">
    <div *ngIf="allResources.length == 0" class="ResourceItem">
      Additional resources provides references and files describing optional
      information.
    </div>
    <div
      *ngFor="let resource of allResources; let i = index"
      class="uploaded-file"
    >
      <div class="ResourceItem">
        <div class="file-icon-wrapper">
          <img src="assets/file-icon.svg" alt="" />
        </div>
        <div class="resource-name">{{ resource.resourceName }}</div>
      </div>
      <div class="resource-control-icons-layover">
        <div (click)="handleDeleteResource(i)" class="delete-icon">
          <img src="assets/Remove.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="save-button-wrapper">
    <button type="submit" class="control-button update-button">Finish</button>
  </div>
</div>

<app-create-resource
  [noId]="true"
  [courseId]="courseId"
  type="CONTENT"
  *ngIf="createResouce"
  (formSubmit)="reset()"
></app-create-resource>
