.card
  height: 262px
  width: 26vw
  background-color: var(--page-content-background-color)
  border-radius: 1rem
  display: flex
  align-items: center
  flex-direction: column

.content-div
  width: 85%
  height: 50%
  padding-bottom: 1rem
  position: relative
  display: flex
  flex-direction: column
  gap: 0.5rem
  justify-content: space-between
  color: var(--primary-font-color)

.image
  height: 50%
  width: 85%
  border-radius: 10px
  margin: 10px 0 15px

.course-name
  font-size: 1rem
  width: 80%

.author
  font-size: 1rem

.fav-icon button
  border-radius: 5px solid black
  border: none
  // background-image: linear-gradient(90deg, #5624d0, #8b24bb)
  color: white
  height: 2rem
  width: 2rem
  position: absolute
  right: 0px
  bottom: 20px
  display: flex
  background: transparent
  border: none 
  outline: none
  font-size: 30px
  color: blue

.header
  display: flex
  justify-content: space-between
  align-items: center

.footer
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 0.7rem

.progressCircle
