<div class="card">
  <!-- <a [routerLink]="['/', RouterLinks.COURSES, singleCourse.id]"> -->
  <img
    [routerLink]="['/', RouterLinks.COURSES, singleCourse.id]"
    [src]="singleCourse.imageUrl"
    alt=""
    class="image"
  />
  <!-- </a> -->

  <div class="content-div">
    <div class="header">
      <div class="course-name">
        {{ singleCourse.name }}{{ singleCourse.courseName }}
      </div>
      <div *ngIf="isProfile" class="progressCircle">
        <app-circular-progress-bar
          [progress]="singleCourse.progress"
        ></app-circular-progress-bar>
      </div>
    </div>
    <div *ngIf="isProfile" class="footer">
      <div class="course-state-date">
        Start Date: {{ singleCourse.createdAt | date : "dd MMM yyyy" }}
      </div>
      <div class="course-state-date">End Date: In Progress</div>
    </div>
    <div *ngIf="!isProfile" class="author">
      By {{ singleCourse.createdBy.name }}
    </div>
    <div *ngIf="!isProfile" class="fav-icon">
      <button id="btn1">
        <i
          class="btn"
          [style.color]="isButtonRed ? 'red' : 'blue'"
          (click)="toggleColor()"
          class="fa fa-heart"
        ></i>
      </button>
    </div>
  </div>
</div>
