<div class="main-section">
  <ng-container *ngIf="loading">
    <app-page-shimmer></app-page-shimmer>
  </ng-container>

  <ng-container *ngIf="!loading">
    <div *ngIf="error" class="error-card">
      <app-error-card></app-error-card>
    </div>
    <ng-container *ngIf="!error">
      <app-courses-banner></app-courses-banner>
      <app-course-about-section></app-course-about-section>
      <app-chapter></app-chapter>
      <app-forms></app-forms>
      <app-course-reviews></app-course-reviews>
    </ng-container>
  </ng-container>
</div>
