<div *ngIf="!isProfile" class="batch-card-parent-div">
  <div class="batch-card-container" [appRandomColor]="index">
    <div class="batch-card-content">
      <div class="batch-title">{{ batchData.name }}</div>
      <div class="stream">Stream: {{ batchData.streamName }}</div>

      <div class="no-of-students">
        <img src="assets/graduation-cap.svg" />
        {{ batchData.noOfStudents }} Students
      </div>
      <div class="date">
        Start Date: {{ batchData.createdAt | date : "dd-MM-YYYY" }}
        <br />
        End Date: {{ batchData.endDate | date : "dd-MM-YYYY" }}
      </div>
    </div>
  </div>
</div>

<div *ngIf="isProfile" class="batch-card-type-2" [appRandomColor]="index">
  <div class="header">
    <div class="batch-title">
      <div class="batch-name">{{ batchData.name }}</div>
      <div class="batch-type">{{ batchData.stream }}</div>
    </div>
    <div class="progressCircle">
      <app-circular-progress-bar [progress]="batchData.progress">
      </app-circular-progress-bar>
    </div>
  </div>
</div>
