<div *ngIf="!isProfile" class="batch-card-parent-div">
  <div class="batch-card-container">
    <div class="batch-card-content">
      <div class="batch-title">Java Batch -2024-01-09</div>
      <div class="stream">Stream:Java</div>

      <div class="no-of-students">
        <i class="fa-solid fa-graduation-cap"></i>
        11 Students
      </div>
      <div class="date">
        Start Date: 9 Jan 2024
        <br />
        End Date: 6 Feb 2024
      </div>
    </div>
  </div>
</div>

<div *ngIf="isProfile" class="batch-card-type-2">
  <div class="header">
    <div class="batch-title">
      <div class="batch-name">Java Batch - 2024-01-09</div>
      <div class="batch-type">Java</div>
    </div>
    <div class="progressCircle">
      <i class="fa-regular fa-circle"></i>
    </div>
  </div>
</div>
