.path-page-content
  display: flex
  flex-direction: column
  width: 75vw

.sub-heading p
  font-size: 1.2rem
  margin-bottom: 10px

.course-box
  border: 1px solid var(--primary-font-link-color)
  border-radius: 10px
  padding: 15px

.course-card
  display: flex
  align-items: center
  gap: 10px

.course-heading
  font-size: 1.3rem

.course-author
  font-size: 1rem
  margin: 0.5rem 0

.course-details
  padding: 0 0 0.8rem 0.8rem

.course-content
  font-size: 1rem
  display: -webkit-box
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical
  overflow: hidden
  box-sizing: border-box
  color: var(--primary-font-color)

.course-image
  aspect-ratio: 4/2.5
  width: 20%
  border-radius: 1rem

.timeline-card
  display: flex
  width: 100%

.content
  padding-left: 1rem

.circle
  border-radius: 100%
  height: 20px
  width: 19px
  background-color: rgb(229, 229, 229)
  border: 1px solid rgb(229, 229, 229)

.progress-line
  width: 2px
  background-color: rgb(86, 36, 208)
  height: 100%
  margin-left: 9px

.insideLine
  background-color: rgb(229, 229, 229)
  width: 2px
  margin-left: 9px
  height: 100%
