<div class="timeline-card">
  <div class="leftBar">
    <div
      class="circle"
      [ngStyle]="
        courseData.isAccessible && { 'background-color': 'rgb(86, 36, 208)' }
      "
    ></div>
    <div
      [ngStyle]="{ height: courseData.progress + '%' }"
      class="progress-line"
    ></div>
    <div
      [ngStyle]="{ height: 100 - courseData.progress + '%' }"
      class="insideLine"
    ></div>
  </div>
  <div class="content">
    <div class="path-page-content">
      <div class="path-courses">
        <div class="sub-heading">
          <div class="courses-list">
            <div class="course-box">
              <div class="course-card">
                <img class="course-image" [src]="courseData.imageUrl" />
                <div class="course-details">
                  <div class="course-heading">
                    {{ courseData.name }}
                  </div>
                  <div class="course-author">
                    By {{ courseData.createdBy.name }} |
                    {{
                      courseData.createdAt.slice(0, 10) | date: "dd MMM yyyy"
                    }}
                  </div>
                  <div class="course-content">
                    {{ courseData.about }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
