<header class="navbar">
  <img class="skill-up-logo" src="./assets/skill up logo new.png" />
  <div class="header-links">
    <button class="favourite-button">
      <i class="fa-solid fa-heart"></i>
    </button>
    <div class="search-bar">
      <input class="search-box" type="text" placeholder="Search" />
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
    </div>

    <button class="favourite-button">
      <i class="fa-solid fa-circle-half-stroke"></i>
    </button>

    <select name="Organization" id="organization">
      <option value="Zopsmart">Zopsmart</option>
      <option value="Kroger">Kroger</option>
    </select>
    <img *ngIf="batchData" src={{batchData.data[0].createdBy.imageUrl}} class="profile-image" />
  </div>
</header>
