.page-content-wrapper
  padding: 0 7%
  background-color: #f8f5ff

  .page-content
    margin-inline: auto
    max-width: 1200px
    min-height: calc(100vh - 80px)
    padding: 40px 0

.heading
  font-size: 1.3rem
  margin: 15px 0