.page-content-wrapper
  padding: 0 7%
  background-color: var(--app-background-color)

  .page-content
    margin-inline: auto
    min-height: calc(100vh - 80px)
    padding: 40px 0

.heading
  font-size: 1.3rem
  margin: 15px 0
