/* You can add global styles to this file, and also import other style files */

*
  margin: 0
  padding: 0
  box-sizing: border-box

.light-theme
  color: black
  --app-background-color: #f3f5f9
  --page-content-background-color: #ffffff
  --primary-font-color: black
  --header-icons-background-color: #f3f5f9
  --header-background-color: #ffffff
  --page-content-background-color: #ffffff
  --primary-font-link-color: #5624d0
  --delete-button-background-color: #f75a5b
  --delete-button-border-color: #f75a5b
  --delete-button-text-color: #f75a5b

.dark-theme
  color: white
  --app-background-color: #010101
  --page-content-background-color: #222222
  --primary-font-color: white
  --header-icons-background-color: #222222
  --header-background-color: #010101
  --page-content-background-color: #222222
  --primary-font-link-color: #986eff
  --delete-button-background-color: #f75a5b
  --delete-button-border-color: #f75a5b
  --delete-button-text-color: #f75a5b
  
body
  background-color: var(--app-background-color)
  font-family: "Poppins", sans-serif
  font-weight: 400
  font-style: normal

a
  text-decoration: none

.add-button
  display: flex
  align-items: center
  border: 1px solid #5624D0
  border-radius: 7px
  height: 45px
  font-size: 16px
  letter-spacing: 0.5px
  width: fit-content
  background-color: white
  cursor: pointer

.button-text
  color: #5624D0
  padding: 0px 15px

.button-style
  display: flex
  align-items: center
  justify-content: center
  background-color: #5624D0
  border-radius: 0px 7px 7px 0px
  height: 45px
  width: 40px

.formInput
  background-color: #f9f9f9
  border-radius: 12px
  margin-top: 32px
  padding: 24px

.uploaded-file
  background-color: #fff
  margin-bottom: 16px
  position: relative
  width: 100%

.ResourceItem
  align-items: center
  border-top: #f2f2f2
  color: inherit
  display: flex
  padding: 20px 10px
  text-decoration: none
  width: 100%

.file-icon-wrapper
  align-items: center
  display: flex
  height: 100%
  justify-content: center
  margin-right: 10px
  width: 35px

.resource-name
  -webkit-line-clamp: 1
  line-clamp: 1
  -webkit-box-orient: vertical
  color: inherit
  display: -webkit-box
  font-size: 1rem
  font-weight: 400
  overflow: hidden
  text-decoration: none
  text-overflow: ellipsis
  width: 100%

.resource-control-icons-layover
  align-items: center
  display: flex
  height: 100%
  justify-content: flex-end
  left: 0
  padding: 20px 10px
  position: absolute
  top: 0
  width: 100%

.control-button
  align-items: center
  border-radius: 8px
  cursor: pointer
  display: flex
  font-size: 1rem
  font-weight: 400
  height: 2.8rem
  justify-content: center
  text-decoration: none
  width: 153px
  cursor: pointer

.remove-button
  background-color: #fff
  border: 1px solid #f75a5b
  color: #f75a5b

.update-button
  background-color: #5624d0
  border: 1px solid #5624d0
  color: #fff
