<div class="profile-header-container">
  <div class="user-details">
    <div class="left-wrapper">
      <img [src]="userData.imageUrl" />
    </div>

    <div class="right-wrapper">
      <p class="user-name">{{ userData.name }}</p>
      <p class="user-email">{{ userData.email }}</p>
    </div>
  </div>
  <div class="completion-rate">
    <div>
      Completion Rate:
      <app-circular-progress-bar></app-circular-progress-bar>
    </div>
    <div class="completion-logo"></div>
  </div>
</div>
