.profile-header-container
    display: flex
    justify-content: space-between
    align-items: center
    width: 88vw

    @media screen and (max-width: 768px)
        flex-direction: column

.user-details
    display: flex

.left-wrapper img
    border-radius: 50%
    
    @media screen and (max-width: 768px)
      height: 40px
      width: 40px

.right-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    padding-left: 1rem

.user-name
    font-size: 1.5rem

.user-email
    font-weight: 300

.completition-text
    width: 110px
    padding-right: 1rem

    @media screen and (max-width: 768px)
        width: 75%

.completion-rate
    display: flex
    height: 100px
    justify-content: space-evenly
    align-items: center

    @media screen and (max-width: 768px)
        justify-content: space-around
        width: 100%
